In [1]:
import os
import pandas as pd

In [2]:
conversion_dammit_dir = "/kfish_annotations/namemaps/"

In [43]:
namemaps = os.listdir(conversion_dammit_dir)

In [44]:
namemaps

['F_rathbuni.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_sciadicus.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'A_xenica.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'L_goodei.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_diaphanus.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_catanatus.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_notatus.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'L_parva.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_parvapinis.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_olivaceous.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_notti.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_heteroclitusMDPL.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_heteroclitusMDPP.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_chrysotus.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_grandis.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_similis.trinity_out.Trinity.fasta.dammit.namemap.csv',
 'F_zebrinus.trinity_out.Trinity.fasta.dammit.namemap.csv']

In [46]:
for i in namemaps:
    if i.endswith(".trinity_out.Trinity.fasta.dammit.namemap.csv"):
        genus_species = i.split(".")[0]
        print(genus_species)
        conversion_file = conversion_dammit_dir + i
        conversions_dammit = pd.read_csv(conversion_file)
        conversions_dammit['new'] = conversions_dammit['original'].str.split(" ", n = 1, expand = True)[0]
        conversions_dammit = conversions_dammit.drop(columns=['original'])
        conversions_dammit = conversions_dammit.rename(index=str, columns={"renamed": "dammitID", "new": "TrinityID"})
        new_conversion_file = conversion_dammit_dir + "reformatted/" + genus_species + ".dammit.Trinity.conversions.csv"
        conversions_dammit.to_csv(new_conversion_file)
        print("File written:",new_conversion_file)

F_rathbuni
File written: namemaps/reformatted/F_rathbuni.dammit.Trinity.conversions.csv
F_sciadicus
File written: namemaps/reformatted/F_sciadicus.dammit.Trinity.conversions.csv
A_xenica
File written: namemaps/reformatted/A_xenica.dammit.Trinity.conversions.csv
L_goodei
File written: namemaps/reformatted/L_goodei.dammit.Trinity.conversions.csv
F_diaphanus
File written: namemaps/reformatted/F_diaphanus.dammit.Trinity.conversions.csv
F_catanatus
File written: namemaps/reformatted/F_catanatus.dammit.Trinity.conversions.csv
F_notatus
File written: namemaps/reformatted/F_notatus.dammit.Trinity.conversions.csv
L_parva
File written: namemaps/reformatted/L_parva.dammit.Trinity.conversions.csv
F_parvapinis
File written: namemaps/reformatted/F_parvapinis.dammit.Trinity.conversions.csv
F_olivaceous
File written: namemaps/reformatted/F_olivaceous.dammit.Trinity.conversions.csv
F_notti
File written: namemaps/reformatted/F_notti.dammit.Trinity.conversions.csv
F_heteroclitusMDPL
File written: namemaps/reformatted/F_heteroclitusMDPL.dammit.Trinity.conversions.csv
F_heteroclitusMDPP
File written: namemaps/reformatted/F_heteroclitusMDPP.dammit.Trinity.conversions.csv
F_chrysotus
File written: namemaps/reformatted/F_chrysotus.dammit.Trinity.conversions.csv
F_grandis
File written: namemaps/reformatted/F_grandis.dammit.Trinity.conversions.csv
F_similis
File written: namemaps/reformatted/F_similis.dammit.Trinity.conversions.csv
F_zebrinus
File written: namemaps/reformatted/F_zebrinus.dammit.Trinity.conversions.csv

# test code

In [3]:
test_file = conversion_dammit_dir + "A_xenica.trinity_out.Trinity.fasta.dammit.namemap.csv"

In [28]:
conversions_dammit = pd.read_csv(test_file)

In [29]:
conversions_dammit.head()

                                            original       renamed
0  TRINITY_DN8_c0_g1_i7 len=1034 path=[0:0-540 1:...  Transcript_0
1  TRINITY_DN8_c0_g1_i6 len=1035 path=[0:0-540 2:...  Transcript_1
2  TRINITY_DN8_c0_g1_i1 len=3195 path=[0:0-540 1:...  Transcript_2
3  TRINITY_DN8_c0_g1_i9 len=2874 path=[0:0-540 2:...  Transcript_3
4  TRINITY_DN8_c0_g1_i4 len=2155 path=[0:0-540 1:...  Transcript_4

parse 'original' down to only the `TRINITY_DNx_ca_gb_ic` ID

In [30]:
conversions_dammit['new'] = conversions_dammit['original'].str.split(" ", n = 1, expand = True)[0]
conversions_dammit = conversions_dammit.drop(columns=['original'])
conversions_dammit = conversions_dammit.rename(index=str, columns={"renamed": "dammitID", "new": "TrinityID"})

In [31]:
conversions_dammit.head()

       dammitID             TrinityID
0  Transcript_0  TRINITY_DN8_c0_g1_i7
1  Transcript_1  TRINITY_DN8_c0_g1_i6
2  Transcript_2  TRINITY_DN8_c0_g1_i1
3  Transcript_3  TRINITY_DN8_c0_g1_i9
4  Transcript_4  TRINITY_DN8_c0_g1_i4

In [32]:
new_conversion_file = conversion_dammit_dir + "A_xenica.dammit.Trinity.conversions.csv"

In [33]:
conversions_dammit.to_csv(new_conversion_file)