In [1]:
import os
import pandas as pd
# requires dammit env
# source activate dammit
from dammit.fileio.gff3 import GFF3Parser

# All contigs quantified by salmon

In [2]:
table = pd.read_csv("/Users/johnsolk/Documents/UCDavis/Whitehead/RNAseq_15killifish/salmon_denovo_by_species/L_goodei/L_goodei_transfer_2.quant/quant.sf",sep="\t")
table.head()

                      Name  Length  EffectiveLength       TPM  NumReads
0  TRINITY_DN2202_c0_g1_i1     278           70.590  0.000000  0.000000
1  TRINITY_DN2202_c1_g1_i1     290           78.150  1.087338  1.000000
2  TRINITY_DN2271_c0_g1_i1     305           88.409  0.000000  0.000000
3  TRINITY_DN2271_c1_g1_i1     525          279.936  0.000000  0.000000
4  TRINITY_DN2268_c0_g1_i1     272           66.900  1.347844  1.061129

In [3]:
table.shape

(385474, 5)

In [4]:
contig_names = pd.DataFrame(table.Name.str.split("_",5).tolist(),columns = ['Trinity','Contig','Component','Gene','Isoform'])

In [5]:
contig_names.head()

   Trinity  Contig Component Gene Isoform
0  TRINITY  DN2202        c0   g1      i1
1  TRINITY  DN2202        c1   g1      i1
2  TRINITY  DN2271        c0   g1      i1
3  TRINITY  DN2271        c1   g1      i1
4  TRINITY  DN2268        c0   g1      i1

In [6]:
contig_names2 = pd.DataFrame()
contig_names2['Name'] = contig_names[['Trinity','Contig','Component','Gene','Isoform']].apply(lambda x: '_'.join(x),axis=1)

In [7]:
contig_names2['Gene'] = contig_names[['Trinity','Contig','Component','Gene']].apply(lambda x: '_'.join(x),axis=1)

In [8]:
contig_names2.head()

                      Name                  Gene
0  TRINITY_DN2202_c0_g1_i1  TRINITY_DN2202_c0_g1
1  TRINITY_DN2202_c1_g1_i1  TRINITY_DN2202_c1_g1
2  TRINITY_DN2271_c0_g1_i1  TRINITY_DN2271_c0_g1
3  TRINITY_DN2271_c1_g1_i1  TRINITY_DN2271_c1_g1
4  TRINITY_DN2268_c0_g1_i1  TRINITY_DN2268_c0_g1

In [9]:
contig_names2.shape

(385474, 2)

# Trinity "genes"

In [10]:
contig_names2['Gene'].nunique()

266317

In [11]:
table_2 = pd.merge(table,contig_names2,on='Name')

In [12]:
table_2.shape

(385474, 6)

In [13]:
table_2.head()

,Name,Length,EffectiveLength,TPM,NumReads,Gene
0,TRINITY_DN2202_c0_g1_i1,278,70.590,0.000000,0.000000,TRINITY_DN2202_c0_g1
1,TRINITY_DN2202_c1_g1_i1,290,78.150,1.087338,1.000000,TRINITY_DN2202_c1_g1
2,TRINITY_DN2271_c0_g1_i1,305,88.409,0.000000,0.000000,TRINITY_DN2271_c0_g1
3,TRINITY_DN2271_c1_g1_i1,525,279.936,0.000000,0.000000,TRINITY_DN2271_c1_g1
4,TRINITY_DN2268_c0_g1_i1,272,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1

# Removed contigs with no expression

In [14]:
table_filt = table_2.loc[table_2['NumReads'] > 0.0]

In [15]:
table_filt.shape

(202604, 6)

In [16]:
table_filt.head()

,Name,Length,EffectiveLength,TPM,NumReads,Gene
1,TRINITY_DN2202_c1_g1_i1,290,78.150,1.087338,1.000000,TRINITY_DN2202_c1_g1
4,TRINITY_DN2268_c0_g1_i1,272,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1
5,TRINITY_DN2201_c0_g1_i1,211,38.753,2.192735,1.000000,TRINITY_DN2201_c0_g1
7,TRINITY_DN2275_c0_g1_i1,309,91.270,0.931033,1.000000,TRINITY_DN2275_c0_g1
9,TRINITY_DN2272_c0_g1_i1,374,142.516,0.596254,1.000000,TRINITY_DN2272_c0_g1

# Trinity "genes", contigs removed with no expression

In [17]:
table_filt['Gene'].nunique()

142016

In [18]:
name = "/Users/johnsolk/Documents/UCDavis/Whitehead/gff_annotations/L_goodei.trinity_out.Trinity.fasta.dammit.gff3"
conversion = "/Users/johnsolk/Documents/UCDavis/Whitehead/dammit_conversions/L_goodei.trinity_out.Trinity.fasta.dammit.namemap.csv"
Fhet_counts = "/Users/johnsolk/Documents/UCDavis/Whitehead/Fhet_counts/L_goodei_genenames.csv"

In [19]:
annotations = GFF3Parser(filename=name).read()
annotations = annotations.dropna(subset=['Name'])

/Users/johnsolk/anaconda3/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):
/Users/johnsolk/anaconda3/lib/python3.6/site-packages/dammit/fileio/gff3.py:73: ParserWarning: Both a converter and dtype were specified for column attributes - only the converter will be used
  dtype=dict(self.columns)):

In [20]:
annotations["length"] = annotations["end"].subtract(annotations["start"], fill_value=0)

# Annotations in all contigs (one annotation per contig)

In [21]:
pickonename = annotations.sort_values(by=['seqid', 'score'], ascending=True).query('score < 1e-05').drop_duplicates(subset='seqid')[['seqid', 'Name','Note','database','Dbxref','start','end','length']]
pickonename = pickonename.dropna(axis=0,how="all")
print('Number of contigs with annotations (one annotation/contig, sorted by E-value < 1e-05 and picked the lowest):')
print(pickonename.shape)

Number of contigs with annotations (one annotation/contig, sorted by E-value < 1e-05 and picked the lowest):
(138485, 8)

In [22]:
pickonename.head()

,seqid,Name,Note,database,Dbxref,start,end,length
110,Transcript_10000,ENSXMAP00000013838,NaN,OrthoDB,NaN,1,382,381
2,Transcript_100000,ENSXMAP00000016367,NaN,OrthoDB,NaN,163,1480,1317
9,Transcript_100001,ENSXMAP00000002468,NaN,OrthoDB,NaN,367,739,372
16,Transcript_100002,ENSXMAP00000002468,NaN,OrthoDB,NaN,19,298,279
24,Transcript_100003,ENSXMAP00000017080,NaN,OrthoDB,NaN,285,1002,717

In [23]:
conversions = pd.read_csv(conversion)

In [24]:
conversions['Name'], conversions['info'] = conversions['original'].str.split(' ', 1).str
conversions = conversions[['Name','renamed']]
conversions.columns = ['Name','seqid']
conversions.head()

                      Name         seqid
0  TRINITY_DN2202_c0_g1_i1  Transcript_0
1  TRINITY_DN2202_c1_g1_i1  Transcript_1
2  TRINITY_DN2271_c0_g1_i1  Transcript_2
3  TRINITY_DN2271_c1_g1_i1  Transcript_3
4  TRINITY_DN2268_c0_g1_i1  Transcript_4

In [25]:
table_filt.shape

(202604, 6)

In [175]:
merged_table = pd.merge(table_filt,conversions,on="Name")
merged_table.shape

(202604, 7)

In [176]:
merged_table['Gene'].nunique()

142016

# Annotations, contigs removed with no expression

In [177]:
merged_table = pd.merge(merged_table,pickonename,on="seqid")

In [178]:
merged_table.shape

(87271, 14)

In [179]:
merged_table.head()

,Name_x,Length,EffectiveLength,TPM,NumReads,Gene,seqid,Name_y,Note,database,Dbxref,start,end,length
0,TRINITY_DN2268_c0_g1_i1,272,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1,Transcript_4,EHJ73841,NaN,OrthoDB,NaN,187,271,84
1,TRINITY_DN2223_c0_g1_i1,272,66.900,2.540396,2.000000,TRINITY_DN2223_c0_g1,Transcript_25,ENSTNIP00000015762,NaN,OrthoDB,NaN,2,272,270
2,TRINITY_DN2294_c0_g1_i1,691,441.742,0.961823,5.000000,TRINITY_DN2294_c0_g1,Transcript_27,ENSXMAP00000008686,NaN,OrthoDB,NaN,1,85,84
3,TRINITY_DN2293_c0_g1_i1,646,397.346,0.855432,4.000000,TRINITY_DN2293_c0_g1,Transcript_34,ENSPTRP00000039483,NaN,OrthoDB,NaN,395,482,87
4,TRINITY_DN73018_c0_g1_i1,425,187.049,3.634368,8.000000,TRINITY_DN73018_c0_g1,Transcript_71,LSU_rRNA_eukarya,-,NaN,"""Rfam:RF02543""",0,425,425

# Unique gene names in filtered contigs

In [182]:
print(len(merged_table.Name_y.unique()))

36695

# Unique Trinity "genes" in filtered, annotated contigs

In [183]:
print(len(merged_table.Gene.unique()))

43627

# *Fundulus heteroclitus* (RefSeq) annotations

In [184]:
fhet = annotations[annotations['Name'].str.startswith("gi")]
fhet_filtered = fhet.query('score < 1e-05').drop_duplicates(subset='seqid')[['seqid', 'Name','start','end','length']]
print("Number of unique Fhet gene names:")
print(len(fhet_filtered.Name.unique()))

Number of unique Fhet gene names:
22631

In [185]:
fhet_filtered.head()

,seqid,Name,start,end,length
25,Transcript_100003,gi|831567809|ref|XP_012733833.1| PREDICTED: my...,95,334,239
34,Transcript_100004,gi|831567809|ref|XP_012733833.1| PREDICTED: my...,0,83,83
50,Transcript_100006,gi|831503966|ref|XP_012711679.1| PREDICTED: pi...,413,433,20
68,Transcript_100007,gi|831503966|ref|XP_012711679.1| PREDICTED: pi...,419,439,20
86,Transcript_100008,gi|831567809|ref|XP_012733833.1| PREDICTED: my...,95,278,183

# Filtered and annotated expresion table, removed contigs with no expression

In [186]:
merged_table.shape

(87271, 14)

In [187]:
merged_table.head()

,Name_x,Length,EffectiveLength,TPM,NumReads,Gene,seqid,Name_y,Note,database,Dbxref,start,end,length
0,TRINITY_DN2268_c0_g1_i1,272,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1,Transcript_4,EHJ73841,NaN,OrthoDB,NaN,187,271,84
1,TRINITY_DN2223_c0_g1_i1,272,66.900,2.540396,2.000000,TRINITY_DN2223_c0_g1,Transcript_25,ENSTNIP00000015762,NaN,OrthoDB,NaN,2,272,270
2,TRINITY_DN2294_c0_g1_i1,691,441.742,0.961823,5.000000,TRINITY_DN2294_c0_g1,Transcript_27,ENSXMAP00000008686,NaN,OrthoDB,NaN,1,85,84
3,TRINITY_DN2293_c0_g1_i1,646,397.346,0.855432,4.000000,TRINITY_DN2293_c0_g1,Transcript_34,ENSPTRP00000039483,NaN,OrthoDB,NaN,395,482,87
4,TRINITY_DN73018_c0_g1_i1,425,187.049,3.634368,8.000000,TRINITY_DN73018_c0_g1,Transcript_71,LSU_rRNA_eukarya,-,NaN,"""Rfam:RF02543""",0,425,425

# *F. heteroclitus* (RefSeq) annotations, and other annotations, removed contigs with no expression

In [188]:
fhet_merged_table = pd.merge(merged_table,fhet_filtered,on='seqid',how='outer')

In [189]:
fhet_merged_table.shape

(111363, 18)

In [192]:
fhet_merged_table.head(50)

,Name_x,Length,EffectiveLength,TPM,NumReads,Gene,seqid,Name_y,Note,database,Dbxref,start_x,end_x,length_x,Name,start_y,end_y,length_y
0,TRINITY_DN2268_c0_g1_i1,272.0,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1,Transcript_4,EHJ73841,NaN,OrthoDB,NaN,187.0,271.0,84.0,NaN,NaN,NaN,NaN
1,TRINITY_DN2223_c0_g1_i1,272.0,66.900,2.540396,2.000000,TRINITY_DN2223_c0_g1,Transcript_25,ENSTNIP00000015762,NaN,OrthoDB,NaN,2.0,272.0,270.0,gi|831524180|ref|XP_012718601.1| PREDICTED: le...,0.0,90.0,90.0
2,TRINITY_DN2294_c0_g1_i1,691.0,441.742,0.961823,5.000000,TRINITY_DN2294_c0_g1,Transcript_27,ENSXMAP00000008686,NaN,OrthoDB,NaN,1.0,85.0,84.0,gi|831580603|ref|XP_012738233.1| PREDICTED: ab...,0.0,28.0,28.0
3,TRINITY_DN2293_c0_g1_i1,646.0,397.346,0.855432,4.000000,TRINITY_DN2293_c0_g1,Transcript_34,ENSPTRP00000039483,NaN,OrthoDB,NaN,395.0,482.0,87.0,NaN,NaN,NaN,NaN
4,TRINITY_DN73018_c0_g1_i1,425.0,187.049,3.634368,8.000000,TRINITY_DN73018_c0_g1,Transcript_71,LSU_rRNA_eukarya,-,NaN,"""Rfam:RF02543""",0.0,425.0,425.0,NaN,NaN,NaN,NaN
5,TRINITY_DN73047_c0_g1_i1,204.0,36.667,12.545837,5.413544,TRINITY_DN73047_c0_g1,Transcript_83,SSU_rRNA_eukarya,-,NaN,"""Rfam:RF01960""",0.0,204.0,204.0,NaN,NaN,NaN,NaN
6,TRINITY_DN73096_c0_g1_i1,1196.0,945.347,0.719106,8.000000,TRINITY_DN73096_c0_g1,Transcript_89,SPU_016539-tr,NaN,OrthoDB,NaN,361.0,508.0,147.0,NaN,NaN,NaN,NaN
7,TRINITY_DN73019_c0_g1_i1,1206.0,955.347,0.978421,11.000000,TRINITY_DN73019_c0_g1,Transcript_124,ENSPSIP00000002966,NaN,OrthoDB,NaN,1128.0,1206.0,78.0,NaN,NaN,NaN,NaN
8,TRINITY_DN91680_c0_g1_i1,532.0,286.607,2.371903,8.000000,TRINITY_DN91680_c0_g1,Transcript_152,ENSONIP00000025839,NaN,OrthoDB,NaN,1.0,400.0,399.0,NaN,NaN,NaN,NaN
9,TRINITY_DN91684_c0_g1_i1,963.0,712.780,0.357652,3.000000,TRINITY_DN91684_c0_g1,Transcript_154,ENSRNOP00000014031,NaN,OrthoDB,NaN,0.0,51.0,51.0,NaN,NaN,NaN,NaN
10,TRINITY_DN91607_c0_g1_i1,519.0,274.222,1.241626,4.006812,TRINITY_DN91607_c0_g1,Transcript_155,ENSTRUP00000020551,NaN,OrthoDB,NaN,458.0,518.0,60.0,NaN,NaN,NaN,NaN
11,TRINITY_DN91666_c0_g1_i1,236.0,48.265,1.760608,1.000000,TRINITY_DN91666_c0_g1,Transcript_180,ENSTRUP00000003191,NaN,OrthoDB,NaN,1.0,235.0,234.0,NaN,NaN,NaN,NaN
12,TRINITY_DN91639_c0_g1_i2,459.0,218.038,3.507557,9.000000,TRINITY_DN91639_c0_g1,Transcript_183,G0RS71_HYPJQ,NaN,OrthoDB,NaN,4.0,181.0,177.0,NaN,NaN,NaN,NaN
13,TRINITY_DN91670_c1_g1_i1,499.0,255.295,0.332852,1.000000,TRINITY_DN91670_c1_g1,Transcript_185,ENSRNOP00000041012,NaN,OrthoDB,NaN,42.0,486.0,444.0,NaN,NaN,NaN,NaN
14,TRINITY_DN91629_c0_g2_i1,1141.0,890.347,0.190882,2.000000,TRINITY_DN91629_c0_g2,Transcript_199,SPU_021296-tr,NaN,OrthoDB,NaN,1.0,1141.0,1140.0,NaN,NaN,NaN,NaN
15,TRINITY_DN91698_c0_g1_i1,828.0,578.007,6.640536,45.169115,TRINITY_DN91698_c0_g1,Transcript_206,gi|831524518|ref|XP_012718723.1| PREDICTED: du...,NaN,protein.fa,NaN,26.0,208.0,182.0,gi|831524518|ref|XP_012718723.1| PREDICTED: du...,26.0,208.0,182.0
16,TRINITY_DN91698_c0_g2_i1,243.0,51.396,3.027098,1.830885,TRINITY_DN91698_c0_g2,Transcript_207,gi|831524518|ref|XP_012718723.1| PREDICTED: du...,NaN,protein.fa,NaN,26.0,79.0,53.0,gi|831524518|ref|XP_012718723.1| PREDICTED: du...,26.0,79.0,53.0
17,TRINITY_DN91660_c0_g1_i1,520.0,275.173,0.309218,1.001326,TRINITY_DN91660_c0_g1,Transcript_226,ENSXMAP00000020293,NaN,OrthoDB,NaN,4.0,166.0,162.0,gi|831481653|ref|XP_012728360.1| PREDICTED: zi...,0.0,56.0,56.0
18,TRINITY_DN91625_c0_g1_i1,817.0,567.035,0.449578,3.000000,TRINITY_DN91625_c0_g1,Transcript_242,ENSGACP00000027661,NaN,OrthoDB,NaN,2.0,815.0,813.0,NaN,NaN,NaN,NaN
19,TRINITY_DN91625_c1_g1_i1,433.0,194.264,0.437424,1.000000,TRINITY_DN91625_c1_g1,Transcript_243,ENSGACP00000027661,NaN,OrthoDB,NaN,4.0,277.0,273.0,NaN,NaN,NaN,NaN
20,TRINITY_DN91695_c0_g1_i1,234.0,47.404,25.366673,14.150965,TRINITY_DN91695_c0_g1,Transcript_261,ENSXMAP00000001061,NaN,OrthoDB,NaN,2.0,233.0,231.0,NaN,NaN,NaN,NaN
21,TRINITY_DN91695_c0_g2_i1,211.0,38.753,2.192735,1.000000,TRINITY_DN91695_c0_g2,Transcript_262,gi|831555091|ref|XP_012729589.1| PREDICTED: in...,NaN,protein.fa,NaN,0.0,70.0,70.0,gi|831555091|ref|XP_012729589.1| PREDICTED: in...,0.0,70.0,70.0
22,TRINITY_DN91695_c0_g3_i1,234.0,47.404,2.306061,1.286451,TRINITY_DN91695_c0_g3,Transcript_263,ENSXMAP00000001061,NaN,OrthoDB,NaN,2.0,233.0,231.0,NaN,NaN,NaN,NaN
23,TRINITY_DN91654_c1_g1_i1,536.0,290.440,0.292575,1.000000,TRINITY_DN91654_c1_g1,Transcript_274,gi|831511316|ref|XP_012714195.1| PREDICTED: fo...,NaN,protein.fa,NaN,15.0,161.0,146.0,gi|831511316|ref|XP_012714195.1| PREDICTED: fo...,15.0,161.0,146.0
24,TRINITY_DN91617_c0_g1_i1,421.0,183.464,1.852689,4.000000,TRINITY_DN91617_c0_g1,Transcript_275,ENSONIP00000007171,NaN,OrthoDB,NaN,363.0,420.0,57.0,NaN,NaN,NaN,NaN
25,TRINITY_DN91634_c1_g2_i1,686.0,436.801,0.194541,1.000000,TRINITY_DN91634_c1_g2,Transcript_292,ENSXETP00000063303,NaN,OrthoDB,NaN,388.0,672.0,284.0,NaN,NaN,NaN,NaN
26,TRINITY_DN91633_c0_g1_i2,288.0,76.844,2.211629,2.000000,TRINITY_DN91633_c0_g1,Transcript_314,ENSORLP00000008737,NaN,OrthoDB,NaN,13.0,248.0,235.0,NaN,NaN,NaN,NaN
27,TRINITY_DN91600_c0_g1_i1,661.0,412.119,1.030961,5.000000,TRINITY_DN91600_c0_g1,Transcript_320,ENSONIP00000005875,NaN,OrthoDB,NaN,190.0,520.0,330.0,NaN,NaN,NaN,NaN
28,TRINITY_DN71580_c0_g2_i1,363.0,133.331,1.274653,2.000000,TRINITY_DN71580_c0_g2,Transcript_349,mir-17,-,NaN,"""Rfam:RF00051""",154.0,239.0,85.0,NaN,NaN,NaN,NaN
29,TRINITY_DN71565_c1_g1_i1,252.0,55.760,3.047909,2.000000,TRINITY_DN71565_c1_g1,Transcript_356,ENSXMAP00000003892,NaN,OrthoDB,NaN,1.0,139.0,138.0,NaN,NaN,NaN,NaN
30,TRINITY_DN71515_c0_g2_i1,964.0,713.779,0.238101,2.000000,TRINITY_DN71515_c0_g2,Transcript_403,ENSXMAP00000004436,NaN,OrthoDB,NaN,109.0,964.0,855.0,gi|831552443|ref|XP_012728699.1| PREDICTED: to...,25.0,321.0,296.0
31,TRINITY_DN71542_c0_g1_i1,221.0,42.163,2.015422,1.000000,TRINITY_DN71542_c0_g1,Transcript_413,ENSXMAP00000018519,NaN,OrthoDB,NaN,3.0,219.0,216.0,gi|831578005|ref|XP_012737324.1| PREDICTED: ma...,0.0,46.0,46.0
32,TRINITY_DN71562_c0_g1_i1,874.0,623.910,0.272397,2.000000,TRINITY_DN71562_c0_g1,Transcript_418,ENSONIP00000018728,NaN,OrthoDB,NaN,2.0,335.0,333.0,gi|831572249|ref|XP_012735302.1| PREDICTED: C-...,0.0,111.0,111.0
33,TRINITY_DN71589_c0_g1_i1,420.0,182.573,2.327171,5.000000,TRINITY_DN71589_c0_g1,Transcript_427,ASIS006257-PA,NaN,OrthoDB,NaN,23.0,89.0,66.0,NaN,NaN,NaN,NaN
34,TRINITY_DN71552_c0_g1_i1,334.0,110.010,0.772435,1.000000,TRINITY_DN71552_c0_g1,Transcript_428,ENSXMAP00000018424,NaN,OrthoDB,NaN,1.0,328.0,327.0,gi|831487578|ref|XP_012705883.1| PREDICTED: po...,0.0,110.0,110.0
35,TRINITY_DN71552_c1_g1_i1,350.0,122.657,0.692791,1.000000,TRINITY_DN71552_c1_g1,Transcript_429,ENSXMAP00000018424,NaN,OrthoDB,NaN,9.0,348.0,339.0,NaN,NaN,NaN,NaN
36,TRINITY_DN71578_c1_g1_i1,436.0,196.980,0.431393,1.000000,TRINITY_DN71578_c1_g1,Transcript_438,ENSXMAP00000008462,NaN,OrthoDB,NaN,375.0,435.0,60.0,NaN,NaN,NaN,NaN
37,TRINITY_DN71513_c1_g1_i1,501.0,257.181,0.660823,2.000000,TRINITY_DN71513_c1_g1,Transcript_447,ENSXMAP00000009726,NaN,OrthoDB,NaN,0.0,501.0,501.0,gi|831558291|ref|XP_012730660.1| PREDICTED: pr...,0.0,167.0,167.0
38,TRINITY_DN76226_c0_g1_i1,2973.0,2722.347,0.187285,6.000000,TRINITY_DN76226_c0_g1,Transcript_459,ENSAMXP00000013015,NaN,OrthoDB,NaN,1476.0,2367.0,891.0,NaN,NaN,NaN,NaN
39,TRINITY_DN76203_c0_g1_i1,553.0,306.738,0.277030,1.000000,TRINITY_DN76203_c0_g1,Transcript_462,ENSXMAP00000008958,NaN,OrthoDB,NaN,124.0,514.0,390.0,NaN,NaN,NaN,NaN
40,TRINITY_DN76223_c0_g1_i1,682.0,432.845,0.592009,3.015548,TRINITY_DN76223_c0_g1,Transcript_483,ENSORLP00000019370,NaN,OrthoDB,NaN,0.0,84.0,84.0,NaN,NaN,NaN,NaN
41,TRINITY_DN76234_c0_g1_i1,206.0,37.234,6.867332,3.009050,TRINITY_DN76234_c0_g1,Transcript_491,ENSXMAP00000008095,NaN,OrthoDB,NaN,2.0,191.0,189.0,gi|831533706|ref|XP_012721991.1| PREDICTED: he...,0.0,63.0,63.0
42,TRINITY_DN76268_c0_g1_i1,349.0,121.847,0.697395,1.000000,TRINITY_DN76268_c0_g1,Transcript_495,gi|831580149|ref|XP_012738080.1| PREDICTED: an...,NaN,protein.fa,NaN,0.0,21.0,21.0,gi|831580149|ref|XP_012738080.1| PREDICTED: an...,0.0,21.0,21.0
43,TRINITY_DN76264_c0_g1_i1,578.0,330.838,0.770548,3.000000,TRINITY_DN76264_c0_g1,Transcript_496,PAC:15698805,NaN,OrthoDB,NaN,52.0,503.0,451.0,NaN,NaN,NaN,NaN
44,TRINITY_DN76211_c2_g1_i1,203.0,36.382,7.006878,3.000000,TRINITY_DN76211_c2_g1,Transcript_506,ENSTRUP00000047322,NaN,OrthoDB,NaN,2.0,203.0,201.0,NaN,NaN,NaN,NaN
45,TRINITY_DN76237_c0_g1_i1,702.0,452.644,1.130321,6.020941,TRINITY_DN76237_c0_g1,Transcript_507,ENSXMAP00000017659,NaN,OrthoDB,NaN,1.0,79.0,78.0,NaN,NaN,NaN,NaN
46,TRINITY_DN76293_c0_g1_i1,522.0,277.076,0.306687,1.000000,TRINITY_DN76293_c0_g1,Transcript_512,ENSONIP00000005560,NaN,OrthoDB,NaN,0.0,519.0,519.0,gi|831572372|ref|XP_012735343.1| PREDICTED: RN...,0.0,174.0,174.0
47,TRINITY_DN76272_c0_g1_i2,359.0,130.013,3.047100,4.662087,TRINITY_DN76272_c0_g1,Transcript_517,E9DZ94_METAQ,NaN,OrthoDB,NaN,134.0,342.0,208.0,NaN,NaN,NaN,NaN
48,TRINITY_DN76270_c0_g1_i1,343.0,117.074,1.451659,2.000000,TRINITY_DN76270_c0_g1,Transcript_540,ENSXMAP00000010701,NaN,OrthoDB,NaN,2.0,341.0,339.0,gi|831492944|ref|XP_012707785.1| PREDICTED: de...,0.0,113.0,113.0
49,TRINITY_DN76284_c0_g1_i1,672.0,422.969,1.607223,8.000000,TRINITY_DN76284_c0_g1,Transcript_541,SPU_009574-tr,NaN,OrthoDB,NaN,0.0,382.0,382.0,NaN,NaN,NaN,NaN

In [193]:
test = fhet_merged_table.drop_duplicates('seqid')
test.shape

(111363, 18)

In [194]:
fhet_merged_table.head()

,Name_x,Length,EffectiveLength,TPM,NumReads,Gene,seqid,Name_y,Note,database,Dbxref,start_x,end_x,length_x,Name,start_y,end_y,length_y
0,TRINITY_DN2268_c0_g1_i1,272.0,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1,Transcript_4,EHJ73841,NaN,OrthoDB,NaN,187.0,271.0,84.0,NaN,NaN,NaN,NaN
1,TRINITY_DN2223_c0_g1_i1,272.0,66.900,2.540396,2.000000,TRINITY_DN2223_c0_g1,Transcript_25,ENSTNIP00000015762,NaN,OrthoDB,NaN,2.0,272.0,270.0,gi|831524180|ref|XP_012718601.1| PREDICTED: le...,0.0,90.0,90.0
2,TRINITY_DN2294_c0_g1_i1,691.0,441.742,0.961823,5.000000,TRINITY_DN2294_c0_g1,Transcript_27,ENSXMAP00000008686,NaN,OrthoDB,NaN,1.0,85.0,84.0,gi|831580603|ref|XP_012738233.1| PREDICTED: ab...,0.0,28.0,28.0
3,TRINITY_DN2293_c0_g1_i1,646.0,397.346,0.855432,4.000000,TRINITY_DN2293_c0_g1,Transcript_34,ENSPTRP00000039483,NaN,OrthoDB,NaN,395.0,482.0,87.0,NaN,NaN,NaN,NaN
4,TRINITY_DN73018_c0_g1_i1,425.0,187.049,3.634368,8.000000,TRINITY_DN73018_c0_g1,Transcript_71,LSU_rRNA_eukarya,-,NaN,"""Rfam:RF02543""",0.0,425.0,425.0,NaN,NaN,NaN,NaN

In [195]:
fhet_merged_table.columns = ['Contig','Length','EffectiveLength','TPM','NumReads','Gene','dammit.seqid','GeneName','Note','database','Dbxref','start.annotation','end.annotation','length.annotation','FhetNCBIName','FhetNCBI.start','FhetNCBI.end','Fhet.NCBI.length']
fhet_merged_table.head()

,Contig,Length,EffectiveLength,TPM,NumReads,Gene,dammit.seqid,GeneName,Note,database,Dbxref,start.annotation,end.annotation,length.annotation,FhetNCBIName,FhetNCBI.start,FhetNCBI.end,Fhet.NCBI.length
0,TRINITY_DN2268_c0_g1_i1,272.0,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1,Transcript_4,EHJ73841,NaN,OrthoDB,NaN,187.0,271.0,84.0,NaN,NaN,NaN,NaN
1,TRINITY_DN2223_c0_g1_i1,272.0,66.900,2.540396,2.000000,TRINITY_DN2223_c0_g1,Transcript_25,ENSTNIP00000015762,NaN,OrthoDB,NaN,2.0,272.0,270.0,gi|831524180|ref|XP_012718601.1| PREDICTED: le...,0.0,90.0,90.0
2,TRINITY_DN2294_c0_g1_i1,691.0,441.742,0.961823,5.000000,TRINITY_DN2294_c0_g1,Transcript_27,ENSXMAP00000008686,NaN,OrthoDB,NaN,1.0,85.0,84.0,gi|831580603|ref|XP_012738233.1| PREDICTED: ab...,0.0,28.0,28.0
3,TRINITY_DN2293_c0_g1_i1,646.0,397.346,0.855432,4.000000,TRINITY_DN2293_c0_g1,Transcript_34,ENSPTRP00000039483,NaN,OrthoDB,NaN,395.0,482.0,87.0,NaN,NaN,NaN,NaN
4,TRINITY_DN73018_c0_g1_i1,425.0,187.049,3.634368,8.000000,TRINITY_DN73018_c0_g1,Transcript_71,LSU_rRNA_eukarya,-,NaN,"""Rfam:RF02543""",0.0,425.0,425.0,NaN,NaN,NaN,NaN

# Unique *F. heteroclitus* (RefSeq) annotations, removed contigs with no expression

In [196]:
print(len(fhet_merged_table.FhetNCBIName.unique()))

22632

In [197]:
fhet_merged_table['split1'], fhet_merged_table['split2'],fhet_merged_table['split3'],fhet_merged_table['NCBIproteinID'],fhet_merged_table['NCBIproteinName'] = fhet_merged_table['FhetNCBIName'].str.split('|', 5).str

In [198]:
fhet_merged_table.shape

(111363, 23)

In [199]:
fhet_merged_table.head()

,Contig,Length,EffectiveLength,TPM,NumReads,Gene,dammit.seqid,GeneName,Note,database,...,length.annotation,FhetNCBIName,FhetNCBI.start,FhetNCBI.end,Fhet.NCBI.length,split1,split2,split3,NCBIproteinID,NCBIproteinName
0,TRINITY_DN2268_c0_g1_i1,272.0,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1,Transcript_4,EHJ73841,NaN,OrthoDB,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRINITY_DN2223_c0_g1_i1,272.0,66.900,2.540396,2.000000,TRINITY_DN2223_c0_g1,Transcript_25,ENSTNIP00000015762,NaN,OrthoDB,...,270.0,gi|831524180|ref|XP_012718601.1| PREDICTED: le...,0.0,90.0,90.0,gi,831524180,ref,XP_012718601.1,PREDICTED: leucine-rich repeat-containing pro...
2,TRINITY_DN2294_c0_g1_i1,691.0,441.742,0.961823,5.000000,TRINITY_DN2294_c0_g1,Transcript_27,ENSXMAP00000008686,NaN,OrthoDB,...,84.0,gi|831580603|ref|XP_012738233.1| PREDICTED: ab...,0.0,28.0,28.0,gi,831580603,ref,XP_012738233.1,PREDICTED: abl interactor 2-like isoform X4 [...
3,TRINITY_DN2293_c0_g1_i1,646.0,397.346,0.855432,4.000000,TRINITY_DN2293_c0_g1,Transcript_34,ENSPTRP00000039483,NaN,OrthoDB,...,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TRINITY_DN73018_c0_g1_i1,425.0,187.049,3.634368,8.000000,TRINITY_DN73018_c0_g1,Transcript_71,LSU_rRNA_eukarya,-,NaN,...,425.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
fhet_merged_table = fhet_merged_table[['Contig','Length','EffectiveLength','TPM','NumReads','Gene','dammit.seqid','GeneName','Note','database','Dbxref','start.annotation','end.annotation','length.annotation','FhetNCBIName','FhetNCBI.start','FhetNCBI.end','Fhet.NCBI.length','NCBIproteinName','NCBIproteinID']]

In [201]:
fhet_merged_table.shape

(111363, 20)

In [202]:
fhet_merged_table.head()

,Contig,Length,EffectiveLength,TPM,NumReads,Gene,dammit.seqid,GeneName,Note,database,Dbxref,start.annotation,end.annotation,length.annotation,FhetNCBIName,FhetNCBI.start,FhetNCBI.end,Fhet.NCBI.length,NCBIproteinName,NCBIproteinID
0,TRINITY_DN2268_c0_g1_i1,272.0,66.900,1.347844,1.061129,TRINITY_DN2268_c0_g1,Transcript_4,EHJ73841,NaN,OrthoDB,NaN,187.0,271.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN
1,TRINITY_DN2223_c0_g1_i1,272.0,66.900,2.540396,2.000000,TRINITY_DN2223_c0_g1,Transcript_25,ENSTNIP00000015762,NaN,OrthoDB,NaN,2.0,272.0,270.0,gi|831524180|ref|XP_012718601.1| PREDICTED: le...,0.0,90.0,90.0,PREDICTED: leucine-rich repeat-containing pro...,XP_012718601.1
2,TRINITY_DN2294_c0_g1_i1,691.0,441.742,0.961823,5.000000,TRINITY_DN2294_c0_g1,Transcript_27,ENSXMAP00000008686,NaN,OrthoDB,NaN,1.0,85.0,84.0,gi|831580603|ref|XP_012738233.1| PREDICTED: ab...,0.0,28.0,28.0,PREDICTED: abl interactor 2-like isoform X4 [...,XP_012738233.1
3,TRINITY_DN2293_c0_g1_i1,646.0,397.346,0.855432,4.000000,TRINITY_DN2293_c0_g1,Transcript_34,ENSPTRP00000039483,NaN,OrthoDB,NaN,395.0,482.0,87.0,NaN,NaN,NaN,NaN,NaN,NaN
4,TRINITY_DN73018_c0_g1_i1,425.0,187.049,3.634368,8.000000,TRINITY_DN73018_c0_g1,Transcript_71,LSU_rRNA_eukarya,-,NaN,"""Rfam:RF02543""",0.0,425.0,425.0,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
print(len(fhet_merged_table.NCBIproteinID.unique()))

22632

In [204]:
print(len(fhet_merged_table.GeneName.unique()))

36696

In [205]:
print(len(fhet_merged_table.Gene.unique()))

43628

In [50]:
# What are the Genes that overlap,
# thinking it's a unique gene, but has overlapping GeneName and NCBIProteinID